#virtualAssistance{
    /*position: static;*/
    right: 0;
    top: 0;
}
#virtualAssistanceButton{
  position: fixed;
  top:0;
  padding: 1.2em 2em .55em 1.2em;
  right: 18em;
  color: white;
}
.tour-step-background, 
.tour-backdrop {
    position: fixed;
}
.ace_gutter{
  z-index: 74 !important;
}
/*.ui-tooltip, .arrow:after {
    background: white;
    border: 2px solid white;
  }
  .ui-tooltip {
    color: black;
  }
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
  .va-backdrop{
      position: fixed;
top:0;
right:0;
bottom: 0;
left: 0;
z-index: 1000;
background-color: #000;
opacity: 0.5;
  }
  .va-step-backdrop{
      z-index: 1001;
  }
*/
  .va-progress{
box-sizing: content-box;
overflow: hidden;
height: 10px;
margin: 10px 0 5px 0;
border-radius: 4px;
background-color: white;
  }

  .va-progressbar{
      box-sizing: content-box;
      float: left;
      width: 0%;
      height: 100%;
      font-size: 10px;
      line-height: 10px;
      text-align: center;
      background-color: blue;
  }